.main {
	display: flex;
	justify-content: flex-start;
}

.container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 5px solid red;
	width: 70%;
	justify-content: flex-start;

}

.images {
	width: 350px;
 	max-width: 60%;
 	border: 2px solid blue;
	max-height: 200px;
	margin: 1vw;
}

.sidebar {
	border: 5px solid yellow;
	width: 30%;
	display: flex;
	background-color: lightgray;
	justify-content: center;
}


.nav {
	list-style-type: none;
	background-color: gray;
	width: 100%;
	font-size :  20px;
	padding : 0;
	margin: 0 auto;
}

.nav > li {
	display : inline-block;
	/* padding :  14px 32px 14px 32px; */
	padding: 0.7vw 0.5vw 0.7vw 0.5vw;

}


.nav > li a {
	color: white;
	text-decoration :  none;
	font-weight: bold;
}

.side_content {
	display: flex;
	position: absolute;
	margin-top: 100px;
	border: 2px solid green;
	flex-direction: column;
	justify-content: space-around;
}

.content_on_side {
	width: 70%;
	margin: 0 auto;
}

.content_title {
	text-align: center;
}