.main {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	border: 2px solid blue;
}

.container {
	display:inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 5px solid red;
	width: 70%;
	justify-content: flex-start;
	float: left;
}

.images {
	width: 350px;
 	max-width: 100%;
 	/* border: 2px solid blue; */
	max-height: 200px;
	margin: 1vw;
}

.sidebar {
	width: 30%;
	/* border: 5px solid yellow; */
	display: flex;
	background-color: lightgray;
	justify-content: center;
	border: 5px solid yellow;
	float: right;
}


.nav {
	list-style-type: none;
	background-color: gray;
	width: 100%;
	font-size :  20px;
	padding : 0;


}

.nav > li {
	display : inline-block;
	/* padding :  14px 32px 14px 32px; */
	padding: 0.7vw 0.5vw 0.7vw 0.5vw;

}


.nav > li a {
	color: white;
	text-decoration :  none;
	font-weight: bold;
}

.side_content {
	display: flex;
	position: absolute;
	margin-top: 100px;
	/* border: 2px solid green; */
	flex-direction: column;
	justify-content: space-around;
}

.content_on_side {
	width: 70%;
	margin: 0 auto;
}

.content_title {
	text-align: center;
}

@media screen and (max-width: 1500px) {
	.nav {
		font-size: 15px;
	}
 }


 @media screen and (max-width: 1200px) {
	.nav > li {
		display : block;
		/* padding :  14px 32px 14px 32px; */
		padding: 0.7vw 0.5vw 0.7vw 0.5vw;
}
	.side_content {
		margin-top: 200px;
		}
	.nav {
		font-size: 25px;
		text-align: center;
	}


 @media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}
	.container {
		width: 100%;
	}

 }
